# Dependencies
node_modules

# Compiled files and data
bundle.js
generation/data/*.csv
client/dist/*.*.br
client/dist/*.*.gz

# Test results and coverage files
coverage
newrelic_agent.log
nohup.out

# Sensitive information
InformationModule.pem
newrelic.js
*.txt
